extends layout

block content
  .Landing_Page
    .container(style="height:700px;")
      .row
        .col-md-3(style="text-align:center;")
          div.Personal_Logo
            span.FirstLetter J
            span ohn 
            span.FirstLetter R
            span . <br/>
            span.FirstLetter H
            span arrison
          span.btn.btn-block.btn-social.btn-google #[span.fa.fa-google] Email
          span.btn.btn-block.btn-social.btn-linkedin #[span.fa.fa-linkedin] LinkedIn
          a.btn.btn-block.btn-social.btn-facebook #[span.fa.fa-facebook] FaceBook
          span.btn.btn-block.btn-social.btn-pinterest #[span.fa.fa-pinterest] Pinterest
        .col-md-6
          div.Professiona_Developer
            span Professional Developer
          span.site-text Expert of coding timelines with a proven track record of excellence in coding development. Comfortable working from 7am to coordinate with offshore to 9pm to build out platforms; the work day doesn’t end until the project is on track. Code reviews and coaching are integral in this process. <br/><br/> Known for mastery in C#, JavaScript (Node.JS and Angular) and WCF Services. A developer that contributes fast prototyping for constant feedback. A professional that values quality teams and code to implement incredible on-time products.
        .col-md-3

          iframe(height='300', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ52xEBpjEwogRQfewb4K7tI8&key=AIzaSyAswWKDaUFlrqE_6KO1C1bj2kL9R_YoEtw', allowfullscreen='')
          span Located In Tampa, FL
  script(src='/lib/social-share/share.min.js')


